.login {
    margin: 0 auto;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    width: 40vw;
    border-radius: 10px;
    padding: 20px;

    .error {
        font-weight: 1.1rem;
        color: red;
    }

    img {
        width: 100px;
        margin-bottom: 50px;
    }

    .group {
        position: relative;
        margin-bottom: 45px;
        width: 100%;

        label {
            color: #999;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all !important;
            -moz-transition: 0.2s ease all !important;
            -webkit-transition: 0.2s ease all !important;
        }

        input {
            font-size: 18px;
            padding: 10px 0;
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #757575;
            &:focus {
                outline: none;
            }
            &:focus ~ label,
            &:valid ~ label {
                top: -20px;
                font-size: 14px;
                color: #5264ae;
            }

            &:focus ~ .bar:before,
            &:focus ~ .bar:after {
                width: 50%;
            }

            &:focus ~ .highlight {
                -webkit-animation: inputHighlighter 0.3s ease;
                -moz-animation: inputHighlighter 0.3s ease;
                animation: inputHighlighter 0.3s ease;
            }
        }

        .bar {
            position: relative;
            display: block;
            width: 100%;

            &:before,
            &:after {
                content: "";
                height: 2px;
                width: 0;
                bottom: 1px;
                position: absolute;
                background: #5264ae;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }
            &:before {
                left: 50%;
            }
            &:after {
                right: 50%;
            }
        }

        .highlight {
            position: absolute;
            height: 60%;
            width: 100%;
            top: 25%;
            left: 0;
            pointer-events: none;
            opacity: 0.5;
        }
    }

    .redirect {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            font-size: 0.8rem;
            text-decoration: none;
        }
    }

    button {
        margin: 10px 0;
        width: 100%;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1rem;
        padding: 5px;
        text-align: center;
        transition: 0.5s;
        background-size: 100% auto;
        color: #fff;
        border-radius: 5px;
        border: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        cursor: pointer;
        display: inline-block;
        background-image: linear-gradient(
            to right,
            #7474bf 0%,
            #348ac7 51%,
            #7474bf 100%
        );

        &:hover {
            background-position: right center;
        }
    }
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264ae;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background: #5264ae;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background: #5264ae;
    }
    to {
        width: 0;
        background: transparent;
    }
}
