.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
    z-index: 3;
    width: 100vw;
    height: 100vh;

    .modal__content {
        border-radius: 4px;
        position: relative;
        max-width: 90%;
        background: #fff;
        display: flex;
        height: 80vh;
        width: 80vw;
        flex-direction: column;

        .modal_header {
            width: 100%;

            .modal__close {
                position: absolute;
                top: -45px;
                right: -50px;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
                font-size: 2rem;
            }
        }

        .modal_body {
            display: flex;
            width: 100%;
            height: 100%;

            .slider_img {
                height: 100%;
                width: 65%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .list_cmt {
                width: 50%;
                height: 98%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: rgba($color: #f0f2f5, $alpha: 0.6);
                padding: 0px 10px;
                border-radius: 10px;
                max-width: 100%;
                overflow: hidden;

                .cmt_top {
                    height: 90%;
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    .cmt_item {
                        display: flex;
                        margin: 10px 0;
                        overflow-x: hidden;
                        text-overflow: clip;
                        img {
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                            border-radius: 50%;
                            margin-right: 15px;
                        }

                        .cmt_content {
                            display: flex;
                            flex-direction: column;
                            max-width: 70%;

                            .cmt_content_info {
                                border: 0.3px solid rgba(77, 77, 77, 0.3);
                                background-color: rgba(
                                    $color: #f0f2f5,
                                    $alpha: 0.6
                                );
                                padding: 0 20px 10px 10px;
                                border-radius: 10px;

                                .cmt_content_user {
                                    font-weight: 800;
                                }

                                .cmt_content_text {
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    display: -webkit-box;
                                    word-break: break-word;
                                }
                            }
                            .cmt_content_time {
                                font-size: 0.7rem;
                                font-weight: 600;
                            }
                        }
                    }
                }

                .cmt_bottom {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    input {
                        width: 100%;
                        padding: 10px 10px 10px 5px;
                        border: none;
                        border-bottom: 1px solid rgba(77, 77, 77, 0.3);
                        background-color: rgba($color: #f0f2f5, $alpha: 1);

                        &:focus {
                            outline: none;
                            border-bottom: 1px solid rgba(77, 77, 77, 0.7);
                        }
                    }
                    button {
                        background-color: #fff;
                        border: none;
                        font-size: 0.9rem;
                        cursor: pointer;
                        color: blue;
                        font-weight: 600;
                        padding: 10px 10px 10px 5px;
                        background-color: rgba($color: #f0f2f5, $alpha: 0.8);
                    }
                }
            }
        }
    }
}

@media all and (max-width: 950px) {
    .modal__content {
        height: 60vh !important;

        .slider_img {
            min-width: 60%;
            max-width: 70% !important;
            img {
                width: 100% !important;
            }
        }
        .list_cmt {
            min-width: 30%;
            max-width: 40%;
        }
    }
}
