.home {
    display: flex;
    margin-top: 10vh;
    height: 90vh;
    width: 95vw;
    position: relative;
    justify-content: center;

    .open_menu {
        position: fixed;
        z-index: 2;
        left: 20px;
        cursor: pointer;
        font-size: 1.5rem;
        visibility: visible;
        z-index: 0;
        padding: 5px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .profile {
        display: flex;
        justify-content: center;
        position: fixed;
        transition: 0.5s;
        z-index: 2;
        left: 0;
        top: 8vh;
        height: 100vh;
        border: 0.5px solid lightgray;
        border-top: none;
        // border-radius: 0 15px 15px 0;
        width: 0;
        overflow: hidden;
        .close_btn {
            position: absolute;
            right: 3px;
            top: -10px;
            font-size: 1.5rem;
            cursor: pointer;
            visibility: visible;
        }
        .menu_profile {
            width: 100%;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            background-color: #fff;
            display: flex;
            align-items: center;
            flex-direction: column;

            .profile_some_info {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-top: 5%;

                img {
                    width: 6vw;
                    height: 6vw;
                    border-radius: 50%;
                    object-fit: cover;
                }
                div {
                    font-weight: 600;
                    margin-top: 10px;
                }
            }

            .menu_button {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .btn_group:first-child {
                    margin-top: 50px;
                }

                .btn_group {
                    width: 90%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    cursor: pointer;
                    padding: 10px 5px;
                    border-radius: 5px;

                    svg {
                        font-size: 1.5rem;
                    }

                    div {
                        margin-left: 20px;
                        font-weight: 500;
                    }
                }
            }
        }
        .info {
            width: 40vw;
        }
    }

    .home_left {
        height: 100%;
        max-width: 40vw;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .home_right {
        position: fixed;
        right: 20px;
        .my_info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .info {
                margin: 0 20px;
            }

            img {
                width: 70px;
                height: 70px;
                object-fit: cover;
                border-radius: 50%;
            }
            a {
                text-decoration: none;
                font-weight: 600;
                font-size: 0.8rem;
                color: blue;
            }
        }

        .suggestion {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 20px;

            a {
                text-decoration: none;
                color: #000;
                font-size: 0.8rem;
            }
        }

        .suggestion_item {
            .suggestion_item_content {
                justify-content: space-around;
                margin-top: 0.8rem;
                display: flex;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }

                a {
                    text-decoration: none;
                    color: blue;
                    font-size: 0.8rem;
                    line-height: 40px;
                }

                .suggestion_item_name {
                    padding-left: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .home_left {
        max-width: 70% !important;
        margin: 0 auto;
        min-width: 60% !important;
        flex-direction: column-reverse;
    }
    .home_right {
        display: none;
    }
}
