.home_left {
    max-width: 70%;
    height: 100%;
    overflow: scroll;
    min-width: 45%;

    &::-webkit-scrollbar {
        display: none;
    }
}

@media all and (max-width: 950px) {
    .home_left {
        max-width: 80%;
        margin: 0 auto;
        min-width: 60%;
    }
}
