.login {
    margin: 0 auto;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    padding: 20px;

    .error {
        font-weight: 1.1rem;
        color: red;
    }

    .group {
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        border: 1px solid #2196f3;
        border-radius: 5px;

        label {
            height: 100%;
            background-color: #2196f3;
            padding: 10px;
            svg {
                font-size: 1.2rem;
                color: #fff;
            }
        }

        input {
            font-size: 1.1rem;
            padding: 10px 5px;
            width: 100%;
            border: none;
            border-radius: 0 5px 5px 0;

            &:focus {
                outline: none;
            }
        }
    }

    .redirect {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            font-size: 0.8rem;
            text-decoration: none;
        }
    }

    button {
        margin: 10px 0;
        width: 100%;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1rem;
        padding: 5px;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        border: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        cursor: pointer;
        background-color: #2196f3;
        &:hover {
            background-position: right center;
        }
    }
}
