.header {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 5px 0;
    position: fixed;
    top: 0;
    z-index: 2;

    .logo {
        font-size: 2rem;
        font-family: "Lobster", cursive;
    }

    .search {
        display: flex;
        align-items: center;
        padding: 10px 10px;
        background-color: #efefef;
        border-radius: 25px;
        position: relative;

        .search_input {
            input {
                border: none;
                font-size: 1rem;
                background-color: #efefef;
                margin-left: 15px;
                &:focus {
                    outline: none;
                }
            }
        }

        .search_result {
            background-color: #efefef;
            border-radius: 5px;
            padding: 10px 5px;
            position: absolute;
            top: 55px;
            left: 0;
            width: 95%;
            min-height: 50px;

            &::before {
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                background-color: #efefef;
                top: -7px;
                left: 45%;
                transform: rotate(45deg);
                border-radius: 0 5px 0 5px;
                z-index: -1;
            }

            .result_item {
                display: flex;
                align-items: center;
                padding: 10px;
                cursor: pointer;
                border-radius: 10px;
                text-decoration: none;
                color: #000;

                &:hover {
                    background-color: rgba($color: #000000, $alpha: 0.08);
                }

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 10px;
                }
                div:first-child {
                    font-weight: 600;
                }

                div:last-child {
                    font-size: 0.9rem;
                }
            }

            .search_not_found {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .menu {
        display: flex;
        font-size: 1.7rem;
        svg {
            margin-left: 20px;
            cursor: pointer;
        }
        .notify {
            position: relative;
            .notify_menu {
                background-color: #fff;
                position: absolute;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border-radius: 10px;
                border: 1px solid lightgray;
                width: 200px;
                min-height: 100px;
                padding: 10px;
                animation-name: opacityEff;
                animation-duration: 0.5s;
                .notify_item {
                    .user_info {
                        display: flex;
                        align-items: center;
                        img {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            object-fit: cover;
                            margin-right: 20px;
                        }
                        div {
                            font-size: 1.1rem;
                        }
                    }
                    .notify_confirm {
                        display: flex;
                        align-items: center;
                        button {
                            margin: 5px 7px 5px 0;
                            padding: 5px 10px;
                            border: none;
                            color: #fff;
                            font-weight: 600;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                        button:first-child {
                            background-color: rgb(95, 153, 240);
                        }
                        button:last-child {
                            background-color: rgb(240, 87, 49);
                        }
                    }
                }
            }
            .num_notify {
                position: absolute;
                font-size: 0.8rem;
                top: 0;
                right: -10px;
                color: red;
                font-weight: 600;
            }
        }
    }

    .avatar {
        display: flex;
        align-items: center;
        position: relative;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .sub_menu {
            visibility: hidden;
            position: absolute;
            top: 40px;
            right: 0;
            display: flex;
            flex-direction: column;
            width: 100px;
            background-color: rgba($color: #000000, $alpha: 0.1);
            align-items: center;
            border-radius: 10px;
            padding: 10px 5px;

            a {
                text-decoration: none;
                color: #000;
                width: 80%;
                text-align: center;
                padding: 5px 5px;
                border-radius: 5px;
                &:hover {
                    background-color: rgba($color: #000000, $alpha: 0.3);
                }
            }
        }

        &:hover .sub_menu {
            visibility: visible;
            animation-name: hoverexpandSubmenu;
            animation-duration: 0.2s;
        }
        .logout {
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            text-shadow: 1px 1px 1px Indigo;
        }
    }
}

@keyframes hoverexpandSubmenu {
    from {
        height: 25px;
    }
    to {
        height: 60px;
    }
}
@keyframes opacityEff {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
