.header {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 5px 0;
    position: fixed;
    top: 0;
    z-index: 2;

    .logo {
        font-size: 2rem;
        font-family: "Lobster", cursive;
    }

    .search {
        display: flex;
        align-items: center;
        padding: 10px 10px;
        background-color: #efefef;
        border-radius: 25px;
        position: relative;

        .search_input {
            input {
                border: none;
                font-size: 1rem;
                background-color: #efefef;
                margin-left: 15px;
                &:focus {
                    outline: none;
                }
            }
        }

        .search_result {
            background-color: #efefef;
            border-radius: 5px;
            padding: 10px 5px;
            position: absolute;
            top: 55px;
            left: 0;
            width: 95%;
            min-height: 50px;

            &::before {
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                background-color: #efefef;
                top: -7px;
                left: 45%;
                transform: rotate(45deg);
                border-radius: 0 5px 0 5px;
            }

            .result_item {
                display: flex;
                align-items: center;
                padding: 10px;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 10px;
                }
                div:first-child {
                    font-weight: 600;
                }

                div:last-child {
                    font-size: 0.9rem;
                }
            }

            .search_not_found {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .menu {
        display: flex;
        font-size: 1.7rem;
        svg {
            margin-left: 20px;
            cursor: pointer;
        }
    }

    .avatar {
        display: flex;
        align-items: center;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        &:hover .sub_menu {
            visibility: visible;
            animation-name: hoverexpandSubmenu;
            animation-duration: 0.5s;
        }
        .logout {
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            text-shadow: 1px 1px 1px Indigo;
        }
    }
}

@keyframes hoverexpandSubmenu {
    from {
        height: 25px;
    }
    to {
        height: 100px;
    }
}
